﻿@model Blog.Models.Commentaires



     
    @using (Html.BeginForm("AjouterCommentaire", "Article"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Commentaires</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
                @Html.LabelFor(model => model.idUtilisateur, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.idUtilisateur, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.idUtilisateur, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Articles_idArticle, "Articles_idArticle", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Articles_idArticle", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Articles_idArticle, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.contenu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.contenu, new { @class = "ckeditor" })
                    @Html.ValidationMessageFor(model => model.contenu, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.datePublication, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.datePublication, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.datePublication, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }


@*@using (Html.BeginForm("AjouterCommentaire", "Article"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Ajouter un commentaire</h4>
            <hr />


            <div class="form-group">
                @Html.LabelFor(Model.contenu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(Model.contenu, new { @class = "ckeditor" })
                    @Html.ValidationMessageFor(Model.contenu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Ajouter le commentaire" class="btn btn-default" />
                </div>
            </div>
            </div>

    }*@


