﻿@model IEnumerable<Blog.Models.Commentaires>


@foreach (var item in Model)
{
    <div class="panel panel-warning">
        <div class="panel-heading">
            @*Par @Blog.Models.Utilisateurs.GetPrenomNom(item.idUtilisateur)*@
            <h3 class="panel-title">Par auteur <small> Publié le @Html.DisplayFor(modelItem => item.datePublication)</small></h3>
        </div>
        <div class="panel-body">
            @Html.Raw(item.contenu)
            @*@if (Blog.Models.Commentaires.isOwner(item, User.Identity.Name))
            {
                @Html.ActionLink("Modifier", "ModifierCommentaire", new { id = item.idCommentaire, idArticle = item.idArticle }) @: |
                @Html.ActionLink("Supprimer", "SupprimerCommentaire", new { id = item.idCommentaire })
            }*@
        </div>
    </div>



}




@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idUtilisateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datePublication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Articles.titre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idUtilisateur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datePublication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Articles.titre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCommentaire }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCommentaire }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCommentaire })
        </td>
    </tr>
}

</table>*@
