﻿@model IEnumerable<Blog.Models.Utilisateurs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courriel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mdp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courriel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mdp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdUtilisateur }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdUtilisateur }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdUtilisateur })
        </td>
    </tr>
}

</table>
